@model ConsumeApiTest.Models.WorkFlowViewModel

@{
    ViewData["Title"] = "Index";
}

<h4>WorkFlow</h4>
<hr />

<div class="row">
    <ol>
        <li>@Html.ActionLink("Create a WorkFlow", "Workflow")</li>
        <li>@Html.ActionLink("Create a WorkFlow Stake Holder", "WorkflowStakeholder")</li>
        <li>@Html.ActionLink("Create a WorkFlow Step", "WorkflowStep")</li>
        <li>@Html.ActionLink("Create a WorkFlow Instance", "WorkflowInstance")</li>
        <li>@Html.ActionLink("Create a WorkFlow Step Option", "WorkflowStepOption")</li>
        <li>@Html.ActionLink("Create a WorkFlow Step Responder", "WorkflowStepResponder")</li>
    </ol>
</div>

