
@{
    ViewData["Title"] = "Workflow Index";
}

<h4>WorkFlow</h4>
<hr />

<div class="row">
    <ol>
        <li>@Html.ActionLink("Create a Workflow", "Workflow")</li>
        <li>@Html.ActionLink("Get All Workflows", "Workflows")</li>
        <li>@Html.ActionLink("Get a Workflow", "WorkflowById")</li>
        <li>@Html.ActionLink("Edit a Workflow", "EditWorkflow", new { workflowid = Guid.Empty})</li>
        <li>@Html.ActionLink("Delete A Workflow", "DeleteWorkflow", new { workflowid = Guid.Empty})</li>

        <li>@Html.ActionLink("Back to Main Menu", "Index")</li>

        @*<li>@Html.ActionLink("Create a WorkFlow Stake Holder", "WorkflowStakeholder")</li>
        <li>@Html.ActionLink("Create a WorkFlow Step", "WorkflowStep")</li>
        <li>@Html.ActionLink("Create a WorkFlow Instance", "WorkflowInstance")</li>
        <li>@Html.ActionLink("Create a WorkFlow Step Option", "WorkflowStepOption")</li>
        <li>@Html.ActionLink("Create a WorkFlow Step Responder", "WorkflowStepResponder")</li>
        <li>@Html.ActionLink("Get A WorkFlow Instance Action History", "WorkflowInstanceActionHistory")</li>
        <li>@Html.ActionLink("Get All WorkFlow Instance Action Histories", "WorkflowInstanceActionHistories")</li>

        <li>@Html.ActionLink("Get A WorkFlow Test", "WorkflowTest")</li>
        <li>@Html.ActionLink("Get All WorkFlow Tests", "WorkflowTests")</li>*@
        </div>


    </ol>
</div>

