@model ConsumeApiTest.Models.WorkFlowInstanceActionHistoryViewModel

@{
    ViewData["Title"] = "WorkflowInstanceActionHistory";
}

<h1>WorkflowInstanceActionHistory</h1>

<div>
    <h4>WorkFlowInstanceActionHistoryViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkflowInstanceActionHistoryID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkflowInstanceActionHistoryID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkflowInstanceID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkflowInstanceID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkflowStepID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkflowStepID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Action)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Action)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Completed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Completed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompletedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompletedBy)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
